

:root{
  --white:#fff;
  --light:#f2f2f3;
  --main:#6f10a2;
  --sec:#10a26f;
}
.bg-main{
 background: #6f10a2; 
}



body{
  color: var(--main);
  font-family: 'Tajawal', sans-serif;
}


#sell:hover .search_dialoag{
  display: flex;

}